<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.originality.mapper.ProductTypeMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.originality.po.ProductType" >
    <id column="pro_type_id" property="proTypeId" jdbcType="INTEGER" />
    <result column="pro_type_name" property="proTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pro_type_id, pro_type_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.originality.po.ProductTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_type
    where pro_type_id = #{proTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_type
    where pro_type_id = #{proTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.originality.po.ProductTypeExample" >
    delete from product_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.originality.po.ProductType" >
    insert into product_type (pro_type_id, pro_type_name)
    values (#{proTypeId,jdbcType=INTEGER}, #{proTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.originality.po.ProductType" >
    insert into product_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proTypeId != null" >
        pro_type_id,
      </if>
      <if test="proTypeName != null" >
        pro_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proTypeId != null" >
        #{proTypeId,jdbcType=INTEGER},
      </if>
      <if test="proTypeName != null" >
        #{proTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.originality.po.ProductTypeExample" resultType="java.lang.Integer" >
    select count(*) from product_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product_type
    <set >
      <if test="record.proTypeId != null" >
        pro_type_id = #{record.proTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.proTypeName != null" >
        pro_type_name = #{record.proTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product_type
    set pro_type_id = #{record.proTypeId,jdbcType=INTEGER},
      pro_type_name = #{record.proTypeName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.originality.po.ProductType" >
    update product_type
    <set >
      <if test="proTypeName != null" >
        pro_type_name = #{proTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where pro_type_id = #{proTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.originality.po.ProductType" >
    update product_type
    set pro_type_name = #{proTypeName,jdbcType=VARCHAR}
    where pro_type_id = #{proTypeId,jdbcType=INTEGER}
  </update>
</mapper>